<template name="songlist">
  <div id="song_list">

    <table>
      <thead>
        <th>Disc #</th>
        <th>Track #</th>
        <th>Title</th>
        <th>Artist</th>
      </thead>
      <tbody>

        <tr>
          <td>Blah</td>
          <td>Blah</td>
          <td>Blah</td>
          <td>Blah</td>
        </tr>

      </tbody>
    </table>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    fsdifjadfiodjfd
    <br>
    fsdifjadfiodjfd
    fsdifjadfiodjfd
    fsdifjadfiodjfd
    fsdifjadfiodjfd
    fsdifjadfiodjfd
    <br>
    <br>
    <br>
    fsdifjadfiodjfd
    <br>
    fsdifjadfiodjfd
    <br>
    fsdifjadfiodjfd
    <br>
    fsdifjadfiodjfd
    <br>
    fsdifjadfiodjfd
    <br>
    fsdifjadfiodjfd
    <br>
    fsdifjadfiodjfd
    <br>
    <br>
    <br>

  </div>

</template>
